BOT_TOKEN=token
BOT_TIMEOUT=5s
HTTP_PORT=8445

POSTGRES_TIMEOUT=200s
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cipo_backend
POSTGRES_PORT=5911
POSTGRES_HOST=localhost

KOFD_PASSAUTH_URL="https://cabinet.kofd.kz/api/authenticate/byIinAndPassword"
KOFD_OPERATIONS_URL="https://cabinet.kofd.kz/api/operations"

CIPO_PRODUCTS_URL="http://cipo.kz:4502/api/products"
CIPO_IMAGES_URL="https://cipo.kz/static"

SECRET_KEY=s
ENV=dev